.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.nextPage {
  margin-left: 50%;
  margin-right: 42%;
  padding: 3px 3px 3px 0px;
}

.pagination {
  margin-top: -50px;
}

.btn {
  padding: 15px;
}

.notFound {
  margin: 23% 22% 0% 34%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
}

mat-row {
  padding: 3px;
}

mat-cell {
    width: 107px;
    min-width: 80px;
    max-width: 150px;
    // white-space: nowrap; 
    // overflow: hidden;
  // text-overflow: ellipsis; 
  overflow-wrap: break-word;
  padding: 2px;
  display: block;
}

mat-header-cell {
  padding: 2px; 
}