<ng-container *ngIf="dataNotFound === false">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
    </mat-form-field>
  </div>
  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="data" matSort class="mat-elevation-z8">
      <!-- Movie Title -->
      <ng-container matColumnDef="movie_title" class="movie_title">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Movie Title</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row?.movie_title}}</mat-cell>
      </ng-container>
      <!-- Director Name -->
      <ng-container matColumnDef="director_name" class="director_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Director Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row?.director_name}}</mat-cell>
      </ng-container>
      <!-- Actor 1 Name -->
      <ng-container matColumnDef="actor_1_name" class="actor_1_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Actor 1 Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row?.actor_1_name}}</mat-cell>
      </ng-container>
      <!-- Actor 2 Name -->
      <ng-container matColumnDef="actor_2_name" class="actor_2_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Actor 2 Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row?.actor_2_name}}</mat-cell>
      </ng-container>
      <!-- Patch Url -->
      <ng-container matColumnDef="genres" class="genres">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Genres</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row?.genres}}</mat-cell>
      </ng-container>
      <!-- language-->
      <ng-container matColumnDef="language" class="language">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Language</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row?.language}}</mat-cell>
      </ng-container>
      <!--Content Rating-->
      <ng-container matColumnDef="content_rating" class="content_rating">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Content Rating</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row?.content_rating}}</mat-cell>
      </ng-container>
      <!--budget-->
      <ng-container matColumnDef="budget" class="budget">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Budget</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row?.budget}}</mat-cell>
      </ng-container>
      <!--Title Year-->
      <ng-container matColumnDef="title_year" class="title_year">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Title Year</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row?.title_year}}</mat-cell>
      </ng-container>
      <!--Plot Keywords-->
      <ng-container matColumnDef="plot_keywords" class="plot_keywords">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Plot Keywords</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row?.plot_keywords}}</mat-cell>
      </ng-container>
      <!--Movie imdb Link-->
      <ng-container matColumnDef="movie_imdb_link" class="movie_imdb_link">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Movie imdb Link</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row?.movie_imdb_link}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
    <div class="btn">
      <div class="nextPage"></div>
    </div>
    <div class="pagination">
      <mat-paginator [length]="length"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="pageEvent = $event">
      </mat-paginator>
    </div>
  </div>
</ng-container>
<div *ngIf="dataNotFound === true" class="notFound">
  Data not found
</div>
